/* latin */
@font-face {
	font-family: "Share Tech Mono";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../assets/Share_Tech_Mono.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
		U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
	--border-width: 8px;
	--border-inset: #FBFAFB var(--border-width) inset;
	--border-outset: #FBFAFB var(--border-width) outset;
	--cell-scl: 1.5vw;
}

body {
	background-color: #BBBBBB;
	position: relative;
	padding: 0;
	margin: 0;
	text-align: center;
	font-family: "Share Tech Mono";
}

.main-container {
	display: inline-block;
	margin: auto;
}

.container {
	display: grid;
	justify-items: center;
	align-items: center;
	border: var(--border-outset);
	width: auto;
	padding: 10px;
	grid-template-columns: repeat(3, 2fr);
	row-gap: 10px;
	column-gap: 10px;
}

.container>div {
	border: var(--border-inset);
	background-color: #BBBBBB;
}

#b_container {
	display: flex;
	justify-content: center;
	align-items: center;
	color: green;
	background-color: greenyellow;
	/* box-shadow: 0 0 5px greenyellow; */
	font-size: 75px;
}

#b_container>span {
	text-shadow: 0 3px 5px rgb(102, 240, 61);
	box-shadow: 0 0 20px greenyellow;
}


.reset_div {
	display: flex;
	padding: 5px;
	border: none !important;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.reset_button {
	/* position: absolute; */

	font-family: "Share Tech Mono";
	font-weight: bold;
	font-size: 30px;

	background-color: #B9B9B9;
	border-color: #FBFAFB;
	border-style: outset;
	border-width: 3px;
	transition: border-width 200ms;
}

.reset_button:hover {
	border-width: 8px;
}

.mode_change {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none !important;
}

.flag_bomb {
	transition: transform 100ms ease-in-out,
		border-width 100ms ease-in-out;
	position: relative;
	border-width: 5px;
	border-style: inset;
	border-color: #FDFCFD;
	width: 60px;
	height: 60px;
}

.flag_bomb:hover {
	border-width: 7px;
}

#menu {
	display: inline-table;
	width: 200px;
	padding: 1em;
	border-width: 1em;
	margin: 1em;
	margin-top: 7em;
}

.board {
	display: grid;
	grid-auto-flow: column;
	margin: auto;
	position: relative;
	grid-column: 1/-1;
	border: var(--border-inset);
}

.cell {
	width: var(--cell-scl);
	height: var(--cell-scl);
	font-size: calc(var(--cell-scl) - 0.2vw);
	background-color: #BBB;
	border-color: #757575;
	border-style: solid;
	border-width: 0;
	font-weight: 1000;
	font-family: "Share Tech Mono";
	padding: 0;
	margin: 0
}

.block {
	--local-border-width: calc(var(--cell-scl) / 7);
	background-color: #B9B9B9;
	border-bottom: solid var(--local-border-width) #7b7b7b;
	border-right: solid var(--local-border-width) #7b7b7b;
	border-top: solid var(--local-border-width) #fff;
	border-left: solid var(--local-border-width) #fff;
}



._button {
	transition: transform 200ms;
	font-family: "Share Tech Mono";
	font-size: xx-large;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
	border-width: 10px;
	background-color: #B9B9B9;
	border-color: #FBFAFB;
	border-style: outset;
}

._button:hover {
	transform: scale(1.2, 1.2);
}

@media only screen and (max-device-width: 720px) {
	.cell {
		width: 3vw;
		height: 3vw;
		font-size: calc(3vw - 0.2vw);
	}

	.cell.block {
		border-width: calc(3vw / 7);
	}

	.main-container {
		display: block;
		margin: 0;
		width: 100%;
	}

}